body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 800px;
    margin: auto;
    background-color: #646464;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: right top;
    
}

h1{
    font-size: 3em;
    font-style: italic;
    font-stretch: expanded;
    text-align: center;
}

p{
    text-align: justify;
}

a{
    color: #bbff00;
    text-decoration: none;
}

.kiemelt{
    font-weight: bold;
    color: #00ff00;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center {
    margin: auto;
    font-family: "League Gothic", Impact, sans-serif;
    line-height: 0.9em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px ;
    font-size: 100px;
    text-align: center;
}

.awesome {
    font-family: futura;
    font-style: italic;
    width: 42%;
    margin: 0 auto;
    text-align: center;
    color: #313131;
    font-size: 56px;
    font-weight: bold;
    position: absolute;
    -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
    color: blue;
    }
    10% {
    color: #8e44ad;
    }
    20% {
    color: #1abc9c;
    }
    30% {
    color: #d35400;
    }
    40% {
    color: blue;
    }
    50% {
    color: #34495e;
    }
    60% {
    color: blue;
    }
    70% {
    color: #2980b9;
    }
    80% {
    color: #f1c40f;
    }
    90% {
    color: #2980b9;
    }
    100% {
    color: pink;
    }
}