body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 800px;
    margin: 0 auto;
    background-color: #646464;
    color: rgb(255, 255, 255);
    background-image: url("nike\ logo.png");
    background-repeat: no-repeat;
    background-position: right top; 
}

h1{
    font-size: 3em;
    font-style: italic;
    font-stretch: expanded;
    text-align: center;
}

p{
    text-align: justify;
}

a{
    color: #fefffa;
    text-decoration: none;
}

.kiemelt{
    font-weight: bold;
    color: #fdfdfd;
}

.hangsulyos{
    text-indent: 20px;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 40px;
    word-spacing: 50px;
}

.felül {
    margin: auto;
    text-align: center;
    padding: 10px ;
    
}

#kozepre {
    margin:auto 75mm;
}

nav ul{
    list-style-type: none;
}

nav a:link{
    color:  #f700ff;
    background-color: white;
}

nav a:visited{
    color:  #f700ff;
}

nav ul li:hover{
    text-decoration: underline;
    background-color: thistle;
}

nav a:active{
    color: red;
}

nav h2{
    background-color:white;
}

nav ul li{
    display: inline;
    margin: 0 20px;
    border: 1px solid white;
    padding: 10px;
}

table{
    width: 90%;
    background-color: rgb(148, 148, 148);
    margin: auto;
    color: rgb(0, 0, 0);
}

table, table td, table th{
    border: 1px solid white;
    border-collapse: collapse;
}

table th{
    color:white;
    background-color: rgb(0, 0, 0);
    
}

table td{
    padding: 5px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

table tr:hover{
    background-color: black;
    color: white;
    transition-duration: 1s;
}

.gombocska {
    font-family:arial;
    font-size: 19px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.486);
    padding: 10px;
    margin:50px;
    width: 200px;
    display: inline-block;
    text-align: center;
}
.gombocska:hover {
    border: 1px solid white;
    border-radius: 5px;
    color: rgb(255, 0, 0);
    transition-duration: 1s;
}
.gombdoboz {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}


.center {
    margin: auto;
    font-family: "League Gothic", Impact, sans-serif;
    line-height: 0.9em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px ;
    font-size: 100px;
    text-align: center;
}

.awesome {
    font-family: futura;
    font-style: italic;
    width: 42%;
    margin: 0 auto;
    text-align: center;
    color: #313131;
    font-size: 66px;
    font-weight: bold;
    position: absolute;
    -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
    color: blue;
    }
    10% {
    color: #8e44ad;
    }
    20% {
    color: #1abc9c;
    }
    30% {
    color: #d35400;
    }
    40% {
    color: blue;
    }
    50% {
    color: #34495e;
    }
    60% {
    color: blue;
    }
    70% {
    color: #2980b9;
    }
    80% {
    color: #f1c40f;
    }
    90% {
    color: #2980b9;
    }
    100% {
    color: pink;
    }
}

.Katt_ide{
    height:150px;
    width: 300px;
    float: right;
}

